$c-gray: #e5e5e5;
$c-dark-gray: #2c2c2c;
$c-blue: #2060f6;
$c-dark-blue: #00008b;
$c-gold: #fbcb27;
$c-gray-h2-h3: #253757;
$c-gray-p: #6c788b;
$c-shadow: #c0cdd7;
$c-sec-3-card: #2060f6;
$c-sec-3-link: #334563;

$focus-shadow: 0 0 10px 5px #3c94f8;

$screen-tablet: 1024px;
$screen-notebook: 1280px;
$screen-design: 1600px;

$container-max-width: 1600px;
